

.container{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  height: 100%;
  width: 100%;
  background-color: white;

  
}




.chicago-main{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;
  color: white;
  gap: 1rem;
  background-color: black;
  padding: 1rem 1rem;
  height: 100%;
  width: auto;
}





.chimuseum-card{
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto;
  height: 100%;
  width: 100%;
  
}

.museum-image{
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-radius: 2rem;
}



.museum-image-holder{
  display: block;
  width: auto;
  height: 100%;
  overflow: hidden;
  
}


.chimuseum-header{
  display: block;
  color: white;
  width: auto;
  height: 100%;
  padding: 2rem 2rem;
  background-color: black;
  text-align: center;
}

.chimuseum-text{
  display: block;
  color: greenyellow;
  padding: 0 1rem;
  width: auto;
}



 @media(max-width: 905px){ 

 .container{
  width: 100%;
  height: 100%;
 }
}


 
  
  
 
  







