.feedback-main{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto auto;
    height: 100%;
    width: auto;
    margin-bottom: 4rem;
    color: black;
    overflow: hidden;
}

.image-holder{
    height: 100%;
    width: auto;
    border: 5px solid white;
    margin: 0 2rem;
    overflow: hidden;
}

.feedback-main form button{
    background-color: crimson;
    color: white;
}
.form-content{
    height: 100%;
    width: auto;
    background-color: rgb(255, 6, 6);
    color: black;
    border: 5px solid white;
    margin: 0 2rem;
    padding: 0 1rem;
    overflow: hidden;
}

.form-content h3{
    display: block;
    padding: 0 1rem;
    width: auto;
    
}

.feedback-main form{
    display: block;
    width: auto;
    height: 100%;  
    padding: 0 1rem;
    overflow: hidden;
    
   

}



.feedback-msg{
    display: block;
    padding: 1rem 1rem;
    color: white;
    width: auto;
}

.feedback-main form input{
    display: block;
    width: 20rem;
    
}

.feedback-main form textarea{
    display: block;
    width: 20rem;
    height: 10rem;

}

@media(max-width: 905px){

    .feedback-main{
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: 1fr 1fr 1fr;
        height: 100%;
        width: auto;
        gap: 1rem;
        
    }

}

