.footer{
    display: block;
    height: 100%;
    width: auto;
    background-color: crimson;
    text-align: center;
    
  }
  
  .footer button{
    background-color: black;
    border-radius: 4rem;
  }