.hero-main{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  margin-bottom: 3rem;
  animation-name: header;
  animation-duration: 3s;
  

  
}

@keyframes header{
  from{
    
    height: 0;
  }
  to{
    height:700px;
  }
}

.hero{
    padding: 2rem 0;
    display: grid;
    height: 100%;
    width: 100%;
    grid-template-columns: 1fr;
    grid-template-rows: 35rem;
    background-position: center;
    background-color: grey;
    background-size: cover;
    background-blend-mode: multiply;
    background-image: url('https://images.unsplash.com/photo-1528901166007-3784c7dd3653?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80');
  }
  
  .hero h2{
  
    padding: 4rem 2rem;
    color: white;
    width: 50%;
    overflow: hidden;
    height: 100%;
  
  }

  .hero h2{
  
    color: white;
    margin-top: 3rem;
    
  
  }

  @media(max-width: 905px){
    .hero{
        display: block;
        height: 100%;
        width: auto;
        
    }
  }