.nav{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    background-color: red;
    color: white;
    font-size: small;
    height: 100%;
    width: auto;
    
   
  }

  .nav-btn{
    padding: 2rem;
  }
 
  
  .nav-list{
    display: grid;
    height: 100%;
    width: 100%;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    padding: 0 1rem;
    
    
  }
  
  .nav-list-item{
    height: 100%;
    width: 100%;
    color: white;
    
  }
  .nav-list a{
    color: white;
    border-bottom: 5px solid blueviolet;
  }
  
  .nav-list a:hover{
    border-bottom: 5px solid white;
  }
  
  .nav-a{
    color: black;
    font-weight: bolder;
    font-size: medium;
  }

  