.nav{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    background-color: black;
    color: white;
    font-size: medium;
    font-weight: bold;
    height: 10%;
    width: 100%;
    margin-bottom: 4rem ;
    
   
  }

  .logo{
    
    height: 3rem;
    width: 4rem;
    justify-content: start;
    align-content: start;
    padding: 0 1rem;
    position: relative;
    
  }

  .nav-list .nav-item{
    position: relative;
    
  }

  .nav-btn{
    padding: 2rem;
  }
 
  
  .nav-list{
    height: 100%;
    display: flex;
    justify-self: end;
    align-self: self-end;
    padding: 0 2rem;
    gap: 2rem;
    position: relative;
  
    
    
  }
  
 
  .nav-list a{
    color: white;
    
  }
  
  .nav-list a:hover{
    border-bottom: 5px solid white;
  }
  
  .nav-a{
    color: black;
    font-weight: bolder;
    font-size: medium;
  }

  @media(max-width: 350px){
    .nav{
      height: 15%;
      width: 100%;

    }

    .logo{
      
      
    }

    .nav-list{
      width: auto;
      height: auto;
    
    }
  }

  