.nav{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    background-color: black;
    color: white;
    font-size: medium;
    font-weight: bold;
    height: 100%;
    width: 100%;
  
    
   
  }

  .logo{
    display: block;
    height: 5rem;
    width: 6rem;
    margin-right: auto;
    padding: 0 1rem;
    
    
  }


.nav-mobile-menu-btn{
 display: block;
 position: relative;
 height: 2rem;
 left: 70%;
 bottom: 40%;
 margin: 0 1rem;
 
  }

  .nav-mobile-close-btn{
    width: 2rem;
    height: 2rem;
    margin-left: 2rem;
    margin-top: 2rem;
  }
 
  
  .nav-list{
    display: flex;
    justify-content: end;
    align-content: end;
    padding: 0 1rem;
    margin: 0 1rem;
    gap: 2rem;
    position: relative;
    bottom: 30%;
    animation-name: nav;
    animation-duration: 1s;
  
  }

  .nav-item{
    position: relative;

  }
  
  .nav-list-mobile{
    display: none;
  }
 
  .nav-list a{
    color: white;
    
  }
  
  .nav-list a:hover{
    border-bottom: 5px solid white;
  }
  
  .nav-a{
    color: black;
    font-weight: bolder;
    font-size: medium;
  }

  
    
      

  @media(max-width: 550px){
    .nav{
      height: 100%;
      width: 100%;

    }

    .logo{
      
      
    }

    .nav-list{
      display: none;
    
  }


    

    .nav-list-mobile{
      display: block;
      position: relative;
      bottom: 100%;
      margin-bottom: 2rem;
      
    }

    .nav-list-mobile-items{
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 3rem 3rem 3rem 2rem;
      position: absolute;
      background-color: black;
      width: 100%;
      right: 0;
      height: 30vh;
      padding-bottom: 1rem;
      animation-name: nav;
      animation-duration: 1s;
      animation-timing-function: ease-in;
  
      
    }

    .nav-list-mobile-item{
      
  display: block;
  padding: 2rem 2rem;
      
      
    }

    @keyframes nav{
     from{
      width: 50%;
     }
      to{
        width: 100%;
      }
    }

    
    
  }

  