

.container{
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  height: 100%;
  width: 100%;
}

main{
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  height: 100%;
  width: 100%;
}

.nav{
  
  background-color: gray;
  color: black;
  height: 5rem;
  flex-basis: 100%;
  display: block;
  font-size: small;
  padding: 1rem 1rem;
 
}

.nav-list{
  display: flex;
  flex-wrap: wrap;
  gap: 4rem;
  
}

.nav-list-item{
  
}
.nav-a{
  border-bottom: 5px solid blueviolet;
}

.nav-a:hover{
  border-bottom: 5px solid white;
}

.nav-a{
  color: black;
  font-weight: bolder;
  font-size: medium;
}

.news-card{
  background-color: aqua;
  border: 10px solid black;
  display: grid;
  grid-template-columns: 45rem 45rem;
  grid-template-rows: auto auto;
  height: 100%;
  width: 100%;
}

.news-text{
  
  height: 100%;
  display: block;
  overflow: hidden;
  padding: 2rem 4rem;
  text-align: center;
  
}

.news-picture{
  width: 100%;
  height: 100%;
  display: block;
  overflow: hidden;
  
}







@media (max-width: 900px) {
  
  .contianer{
    display: block;
    height: 100%;
    width: 100%;
  }

  .news-card{
    background-color: aqua;
    border: 10px solid black;
    display: grid;
    grid-template-rows: 35rem;
    grid-template-columns: auto;
    height: 100%;
    width: 100%;
  }

  
  

  main{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    height: 100%;
    width: 100%;
  }
}


